@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
}


.progressbar {
    height: 5px;
    background-color: red;
    border-radius: 1px;
    width: 100%;
}

.start {
    padding: 10px;
    font-size: 20px;
    width: 80px;
    background-color: #22c122;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    display: block;
    margin: 150px auto 0;
}

.start:hover {
    cursor: pointer;
    opacity: 0.8;
}

.of {
    font-weight: 300;
}

.question {
    text-align: center;
    font-size: 26px;
}

.bold {
    font-weight: bold;
}

.underline {
    display: inline-block;
    border-bottom: 1px solid #6E26CA;
    padding: 5px 0;
}

.chart{
    margin: 0 auto;
}
.pie_container{
    display: flex;
}

