.options{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.quiz{
  width: 40%;
  border-radius: 10px;
  font-size: 24px;
  border: 1px solid grey;
}
.quiz:hover{
  border: 1px solid darkblue;
  color: darkblue;
  font-weight: bold;
  cursor: pointer;
}
.chosen{
  background-color: darkblue;
  color: white;
}
.chosen:hover {
  color: white;
}

.progressbar{
  height: 5px;
  background-color: red;
}