
.logo {
    height: 60px;
    position: relative;
    top: -10px;
    justify-self: flex-start;
    user-select: none;
}

.logo img {
    display: block;
    width: 80px;
    height: 80px;
}

.logo:hover {
    opacity: 0.8;
    cursor: pointer;
}
