
.logo {
    height: 50px;
    position: relative;
    top: -5px;
    justify-self: flex-start;
}

.logo img {
    display: block;
    width: 60px;
    height: 60px;
}

.logo:hover {
    opacity: 0.8;
    cursor: pointer;
}
