.add_btn {
    background-color: #212121;
    border-radius: 10px;
    color: white;
}


.search_input {
    width: 25%;
    border-radius: 10px;
    padding: 8px;
    background-color: #353535;
    border: 1px solid #9E9E9E;
    justify-self: center;
}
.header {
    margin: 0 auto 80px;
    position: fixed;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    background-color: #353535;
    padding: 25px;
    width: 100%;
}
.flex_wrap_header {
    display: flex;
    gap: 15%;
    align-items: center;
}