button {
    background: none;
}

.App {
    background-color: #000;
    height: 100%;
    padding-bottom: 30px;

}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.flex_wrap {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.active {
    text-decoration: underline;
}


.button {
    justify-self: flex-end;
    padding: 8px;
    width: 100px;
    color: white;
    border: none;
}

.black_btn {
    background: none;
    color: white;
    border: 1px solid #a8a3a3;
}
