button {
    background: none;
}

.App {
    background-color: #000;
    height: 100%;
    padding-bottom: 30px;

}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.flex_wrap {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
}

.header {
    margin: 0 auto 80px;
    position: fixed;
    z-index: 4;
    left: 50%;
    transform: translateX(-50%);
    background-color: #353535;
    padding: 25px;
    width: 100%;
}

.photos_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding-top: 130px;
    margin: 0 auto;
    width: 55%;
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 30%);*/
    /*grid-gap: 20px;*/
}

.photo {
    width: 300px;
    border-radius: 20px;
    object-fit: contain;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 200px;
}

.photo:hover {
    cursor: pointer;
}

.photo img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.page-item {
    color: red;
}

.active {
    text-decoration: underline;
}

.filters_container {
    box-sizing: border-box;
    position: fixed;
    width: 18%;
    right: 0;
    top: 0;
    bottom: 0;

    padding: 20px 30px 20px 20px;
    background-color: #3f3c3c;
    color: white;
    height: 100%;

}

.animal_filter {
    display: flex;
    flex-direction: column;
}

.close {
    background: none;
    border: none;
    position: absolute;
    right: 2%;

}

.close img {
    width: 35px;
    height: 35px;
}

.filter_label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.filter_container {
    margin-bottom: 20px;
}

.button {
    justify-self: flex-end;
    padding: 8px;
    width: 100px;
    color: white;
    border: none;


}

.add_btn {
    background-color: #212121;
    border-radius: 10px;

    color: white;
}

.filter_btn {
    border-bottom: 1px solid #DBDBDB;
    background: none;
    padding: 4px;
    width: 55px;
}

.search_input {
    width: 25%;
    border-radius: 10px;
    padding: 8px;
    background-color: #353535;
    border: 1px solid #9E9E9E;
    justify-self: center;
}

.pagination {
    margin: 20px auto 0;
    width: fit-content;
}

.section_container {

}

.desc {
    position: absolute;
    z-index: 2;
    background-color: rgba(71, 71, 71, 0.8);
    color: white;
    bottom: 0;
    width: 100%;
    min-height: 30%;
    padding: 10px;
}

.add_file_window {
    padding-top: 150px;
    margin: 0 auto;
    max-width: 500px;
}

.add_file_input {
    display: block;
    width: 250px;
    background-color: #0000;
    border: none;
    border-bottom: 1px solid #b8b3b3;
    margin: 0 auto 15px auto;
    color: white;
}

.add_file_btn {
    border-radius: 10px;
    padding: 7px;
    display: block;
    color: white;

}
#animal_upload{
    display: none;
}
.buttons_wrap .flex_wrap{
    justify-content: stretch;
    gap: 10px;
}
.file_upload_label{
    color: white;
    border: 1px solid white;
    padding: 7px;
}
.done_mark{
    width: 40px;
    height: 40px;
}
.black_btn {
    background: none;
    color: white;
    border: 1px solid #a8a3a3;
}

.buttons_wrap {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.test {
    color: white;
    display: block;
    border: 2px solid white;
    height: 800px;
    width: 800px;
}

.desc_title {
    color: white;
}

.slide {
    width: 35%;
    border-radius: 10px;
    /*margin: 0 auto 30px;*/
    overflow: hidden;
    position: relative;
    height: 350px;
}

.slide img {
    width: 100%;
    height: 100%;
}

.description_wrap {
    background-color: #242424;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;

}

.photo_page_header {
    background-color: #353535;
    padding: 15px;
    width: 100%;
}

.photo_page {
    padding-top: 80px;
}

.logo {
    height: 50px;
    position: relative;
    top: -5px;
    /*left: 50px;*/
    justify-self: flex-start;


}

.logo img {
    display: block;
    width: 60px;
    height: 60px;
}

.logo:hover {
    opacity: 0.8;
    cursor: pointer;
}

.flex_wrap_header {
    display: flex;
    gap: 15%;
    align-items: center;
}

.add_photo_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    background: #909090;
    box-shadow: 4px 3px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.breed_images_wrap {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.add_photo_btn:hover {
    background-color: rgba(36, 36, 37, 0.38);
    color: white;
    cursor: pointer;
    user-select: none;
}

.slide_btn_wrap {
    height: 350px;
    width: 200px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;

}

.btn-slide {
    border: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    z-index: 2;
    border-radius: 10px;

}

.slide_btn_image {
    height: 350px;
    /*width: 200px;*/
    position: absolute;
    top: 0;
    border-radius: 10px;
}

.overlay {
    height: 350px;
    width: 200px;
    background-color: rgba(38, 37, 37, 0.89);
    position: absolute;
    top: 0;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
}
.modal_wrap{
    position: absolute;
    z-index: 4;
    width: 350px;
    /*height: 300px;*/
    background-color: #737270;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.modal_overlay{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(60, 60, 60, 0.91);
}
#file_upload{
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.custom-file-upload:hover{
    border: 1px solid #272727;
    color: #272727 ;
}
.close_btn{
position: absolute;
    right: 10px;
    top: 10px;
}
.modal_container{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    padding: 40px;
}
.modal_close{
    border: none;

    right: 10px;
}
.modal_close img{
    height: 35px;
    width: 35px;
}
.modal_close img:hover{
    opacity: 2;
    filter: brightness(30%) saturate(50%);

}